*.o
*.exe
*.sdf
*.opensdf
Build/vs2015/obj
Build/vs2015/bin
Free-Rider-3D/Free-Rider-3D/Debug/**
Free-Rider-3D/Free-Rider-3D/x64/**
pugixml-1.7/scripts/vs2015/**
*.log
*.ilk
*.pdb
*.opendb
*.db
soil/projects/VC9/Debug/**
Free-Rider-3D/Debug/SOIL.lib
**/Release/**
**/Debug/**
*.suo